.rtype-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.rtype-info {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__title {
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        color: #181E1A;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #555;
    }
}